<!DOCTYPE html>
<html lang="es">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device=width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Juanma</title> 
        <link rel="shortcut icon" href="https://media.discordapp.net/attachments/702493880955830335/702494344359444530/juanma.png">
        <!-- BOOTSTRAP 4 -->
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Place your kit's code here -->
         <script src="https://kit.fontawesome.com/5b46cf1eee.js" crossorigin="anonymous"></script>
        <!-- Google fonts -->
         <link href="https://fonts.googleapis.com/css?" familiaDancing+Script: wght@500&display-swap rel="stylesheet">
        <style>
            body {
                font-family: 'Dancing Script', cursive;
            }
        </style>
        <!-- Custom css -->
         <link rel="stylesheet" href="/css/main.css">
        </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><i class="fas fa-virus fa-2x"></i>  Juanma que te mejores!!! <i class="fas fa-head-side-mask fa-2x"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
          </nav>
          <h1> ·</h1>
          <div class="container">
              <header class="row">
                  <div class="col-lg-12 text-center">
                      <img src="/img/arcoiris.jpg">
                  </div>
              </header>
          </div>
        <header>
            <header class="row">
                <div class="col-lg 12 text-center">
                    <img src="/img/1.jpg">
                    <img src="/img/2.jpg">
                </div>
            </header>
        </header>
        <h1>·</h1>
        <!-- section 1 -->
        <div class="container-fluid" id="Juanma">
           <row class="row bg-dark text-white p-5 text-center">
               <div class="col-sm-6">
                  <i class="fas fa-procedures fa-10x"></i>
               </div>
               <div class="col-sm-6">
                  <h3>Juanma, toda tu familia te desea que te recuperes pronto y que estes pronto con nosotros, esperamos que todo vaya bien y te recuperes rapido.</h3>
               </div>
           </row>
        </div>
    </body>
</html>